:root {
  --color-orange: rgb(255, 153, 0);
  --color-gray: #333;
  --color-gray-light: #ccc;
  --color-gray-lighter: #f1f2f1;
  --color-white: #fff;
  --color-white-opaque: rgba(255, 255, 255, .7);
  --color-black: #000;
  --toolbar-height: 64px;
  --grid-gap: 8px;
  --article-height: 300px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Satisfy', cursive;
  color: var(--color-orange);
}

.logo {
  padding: 0 var(--grid-gap);
}

.logo svg {
  height: 32px;
}

.logo svg * {
  fill: var(--color-black);
}

button {
  border: 0;
  outline: 0;
  background: none;
}

button.icon {
  padding: var(--grid-gap);
}

button.icon svg {
  height: calc(var(--grid-gap) * 4);
  width: calc(var(--grid-gap) * 4);
}

button.action {
  margin: calc(var(--grid-gap) * 1.5) 0;
  padding: 0 calc(var(--grid-gap) * 4);
  background: var(--color-orange);
  border-radius: 0;
  color: var(--color-gray);
  font-size: 14px;
  text-transform: uppercase;
}

toolbar {
  position: fixed;
  left: 0;
  right: 0;
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
  padding: 0 var(--grid-gap);
  transition: all 350ms ease-in-out;
}

toolbar[position="top"] {
  top: 0;
  background: var(--color-white);
  color: var(--color-gray);
}

toolbar[position="bottom"] {
  bottom: 0;
  background: var(--color-gray);
  color: var(--color-white);
}

body.scroll-speed-3 toolbar[position="top"] {
  top: calc(var(--toolbar-height) * -1);
}

body.scroll-direction-1 toolbar[position="top"],
body.scroll-direction-2 toolbar[position="top"] {
  background: var(--color-white-opaque);
}

body.scroll-direction-2 toolbar[position="bottom"],
body.scroll-direction-1 toolbar[position="bottom"],
body.scroll-speed-3 toolbar[position="bottom"] {
  bottom: calc(var(--toolbar-height) * -1);
}

body.scroll-direction-0 toolbar[position="top"] {
  top: 0;
}

body.scroll-direction-0 toolbar[position="bottom"] {
  bottom: 0;
}

main {
  background: var(--color-gray-light);
  padding: var(--toolbar-height) 0;
}

main article {
  margin: calc(var(--grid-gap) * 2);
  height: var(--article-height);
  line-height: var(--article-height);
  text-align: center;
  font-size: calc(var(--grid-gap) * 6);
  background: var(--color-gray-lighter);
}